body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  padding: 0.5rem;
  margin: 0;
  color: #666;
}
#loginBanner {
  display: grid;
  padding: 0.5rem;
  grid-gap: 1rem;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.banner {
  margin: 0;
  height: 1rem;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #d8d9d5 20px,
    #d41717 20px,
    #984646 40px
  );
}
